"dataSources":[
{{#sites}}{{#dataHalls}}{{#devices}}
    {
      "xid":"DS_{{site}}_{{dataHall}}_{{device}}",
      "name":"{{device}}",
      "enabled":false,
      "type":"MODBUS_IP",
      "alarmLevels":{
        "POINT_WRITE_EXCEPTION":"DO_NOT_LOG",
        "POLL_ABORTED":"DO_NOT_LOG",
        "DATA_SOURCE_EXCEPTION":"DO_NOT_LOG",
        "POINT_READ_EXCEPTION":"DO_NOT_LOG"
      },
      "purgeType":"YEARS",
      "updatePeriods":10,
      "updatePeriodType":"SECONDS",
      "transportType":"TCP",
      "encapsulated":false,
      "host":"{{host}}",
      "lingerTime":-1,
      "maxBackOffPeriodType":2,
      "maxBackOffPeriods":5,
      "port":502,
      "scaleFactor":1.1,
      "contiguousBatches":false,
      "createSlaveMonitorPoints":false,
      "discardDataDelay":0,
      "ioLogFileSizeMBytes":1.0,
      "logIO":false,
      "maxHistoricalIOLogs":1,
      "maxReadBitCount":2000,
      "maxReadRegisterCount":125,
      "maxWriteRegisterCount":120,
      "multipleWritesOnly":false,
      "retries":2,
      "timeout":2500,
      "quantize":false,
      "useCron":false,
      "data":null,
      "editPermission":[
        [
          "ROLE_ADMIN"
        ]
      ],
      "purgeOverride":false,
      "purgePeriod":1,
      "readPermission":[
        [
          "ROLE_SITE_{{site}}"
        ],
        [
          "ROLE_MANAGER"
        ],
        [
          "ROLE_ADMIN"
        ],
        [
          "ROLE_DATAH_{{site}}_{{dataHall}}"
        ]
      ]
    }
{{/devices}}{{/dataHalls}}{{/sites}}
]
