"dataPoints":[
{{#zones}}{{#halls}}
    {
      {{>point_properties}},
      "xid":"DP_{{zoneId}}_{{hallId}}_total_voltage",
      "name":"Hall Total Voltage",
      "pointLocator":{
        "dataType":"NUMERIC",
        "updateEvent":"NONE",
        "contextUpdateEvent":"CONTEXT_UPDATE",
        "context":[
          {{#rows}}{{#racks}}
          {
            "varName":"rack_{{row}}_{{rack}}_voltage",
            "dataPointXid":"DP_{{zoneId}}_{{hallId}}_{{row}}_{{rack}}_voltage",
            "updateContext":true
          },
          {{/racks}}{{/rows}}
        ],
        "logLevel":"NONE",
        "variableName":"my",
        "executionDelaySeconds":0,
        "logCount":5,
        "logSize":1.0,
        "script":"return 0.0{{#rows}}{{#racks}} + rack_{{row}}_{{rack}}_voltage.value{{/racks}}{{/rows}};",
        "scriptRoles":[],
        "settable":false,
        "updateCronPattern":""
      },
      "dataSourceXid":"DS_{{zoneId}}_{{hallId}}",
      "deviceName":"{{zoneName}} - {{hallName}}",
      "tags":{
        "zone": "{{zoneId}}",
        "hall": "{{hallId}}"
      }
    },
{{#rows}}{{#racks}}
    {
      {{>point_properties}},
      "xid":"DP_{{zoneId}}_{{hallId}}_{{row}}_{{rack}}_voltage",
      "name":"Rack Voltage",
      "pointLocator":{
        "dataType":"NUMERIC",
        "changeType":{
          "type":"BROWNIAN",
          "max":125.0,
          "maxChange":0.1,
          "min":105.0,
          "startValue":"110"
        },
        "settable":false
      },
      "dataSourceXid":"DS_{{zoneId}}_{{hallId}}_{{row}}",
      "deviceName":"{{zoneName}} - {{hallName}} - Row {{row}}/Rack {{rack}}",
      "tags":{
        "zone": "{{zoneId}}",
        "hall": "{{hallId}}",
        "row": "{{row}}",
        "rack": "{{rack}}"
      }
    },
    {
      {{>point_properties}},
      "xid":"DP_{{zoneId}}_{{hallId}}_{{row}}_{{rack}}_current",
      "name":"Rack Current",
      "pointLocator":{
        "dataType":"NUMERIC",
        "changeType":{
          "type":"BROWNIAN",
          "max":10.0,
          "maxChange":0.1,
          "min":1.0,
          "startValue":"5"
        },
        "settable":false
      },
      "dataSourceXid":"DS_{{zoneId}}_{{hallId}}_{{row}}",
      "deviceName":"{{zoneName}} - {{hallName}} - Row {{row}}/Rack {{rack}}",
      "tags":{
        "zone": "{{zoneId}}",
        "hall": "{{hallId}}",
        "row": "{{row}}",
        "rack": "{{rack}}"
      }
    },
{{/racks}}{{/rows}}
{{/halls}}{{/zones}}
]