"dataPoints":[
{{#sites}}{{#dataHalls}}{{#powerCenters}}{{#devices}}
    {
      "xid":"DP_{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}_BREAKER_DISCONNECTED",
      "name":"Breaker Disconnected",
      "enabled":false,
      "loggingType":"ON_CHANGE_INTERVAL",
      "intervalLoggingPeriodType":"MINUTES",
      "intervalLoggingType":"INSTANT",
      "purgeType":"YEARS",
      "pointLocator":{
        "range":"HOLDING_REGISTER",
        "modbusDataType":"BINARY",
        "writeType":"NOT_SETTABLE",
        "additive":0.0,
        "bit":8,
        "charset":"ASCII",
        "multiplier":1.0,
        "multistateNumeric":false,
        "offset":15300,
        "registerCount":0,
        "slaveId":{{slaveId}},
        "slaveMonitor":false
      },
      "eventDetectors":[
      ],
      "plotType":"STEP",
      "rollup":"NONE",
      "unit":"",
      "simplifyType":"NONE",
      "chartColour":"",
      "data":null,
      "dataSourceXid":"DS_{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}",
      "defaultCacheSize":1,
      "deviceName":"{{deviceName}}",
      "discardExtremeValues":false,
      "discardHighLimit":1.7976931348623157E308,
      "discardLowLimit":-1.7976931348623157E308,
      "editPermission":[
        [
          "ROLE_ADMIN"
        ]
      ],
      "intervalLoggingPeriod":15,
      "intervalLoggingSampleWindowSize":0,
      "overrideIntervalLoggingSamples":false,
      "preventSetExtremeValues":false,
      "purgeOverride":false,
      "purgePeriod":1,
      "readPermission":[
        [
          "ROLE_SITE_{{siteName}}"
        ],
        [
          "ROLE_MANAGER"
        ],
        [
          "ROLE_ADMIN"
        ],
        [
          "ROLE_DATAH_{{siteName}}_{{dataHallName}}"
        ]
      ],
      "setExtremeHighLimit":1.7976931348623157E308,
      "setExtremeLowLimit":-1.7976931348623157E308,
      "setPermission":[
        [
          "ROLE_ADMIN"
        ]
      ],
      "tags":{
        "deviceType":"BRK-SE-MASTERPACK",
        "site":"{{siteName}}",
        "deviceID":"{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}",
        "dataHall":"{{dataHallName}}"
      },
      "textRenderer":{
        "type":"BINARY",
        "oneColour":"#009245",
        "oneLabel":"True",
        "zeroColour":"#9c9c9c",
        "zeroLabel":"False"
      },
      "tolerance":0.0
    },
    {
      "xid":"DP_{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}_BREAKER_CONNECTED",
      "name":"Breaker Connected",
      "enabled":false,
      "loggingType":"ON_CHANGE_INTERVAL",
      "intervalLoggingPeriodType":"MINUTES",
      "intervalLoggingType":"INSTANT",
      "purgeType":"YEARS",
      "pointLocator":{
        "range":"HOLDING_REGISTER",
        "modbusDataType":"BINARY",
        "writeType":"NOT_SETTABLE",
        "additive":0.0,
        "bit":9,
        "charset":"ASCII",
        "multiplier":1.0,
        "multistateNumeric":false,
        "offset":15300,
        "registerCount":0,
        "slaveId":{{slaveId}},
        "slaveMonitor":false
      },
      "eventDetectors":[
      ],
      "plotType":"STEP",
      "rollup":"NONE",
      "unit":"",
      "simplifyType":"NONE",
      "chartColour":"",
      "data":null,
      "dataSourceXid":"DS_{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}",
      "defaultCacheSize":1,
      "deviceName":"{{deviceName}}",
      "discardExtremeValues":false,
      "discardHighLimit":1.7976931348623157E308,
      "discardLowLimit":-1.7976931348623157E308,
      "editPermission":[
        [
          "ROLE_ADMIN"
        ]
      ],
      "intervalLoggingPeriod":15,
      "intervalLoggingSampleWindowSize":0,
      "overrideIntervalLoggingSamples":false,
      "preventSetExtremeValues":false,
      "purgeOverride":false,
      "purgePeriod":1,
      "readPermission":[
        [
          "ROLE_SITE_{{siteName}}"
        ],
        [
          "ROLE_MANAGER"
        ],
        [
          "ROLE_ADMIN"
        ],
        [
          "ROLE_DATAH_{{siteName}}_{{dataHallName}}"
        ]
      ],
      "setExtremeHighLimit":1.7976931348623157E308,
      "setExtremeLowLimit":-1.7976931348623157E308,
      "setPermission":[
        [
          "ROLE_ADMIN"
        ]
      ],
      "tags":{
        "deviceType":"BRK-SE-MASTERPACK",
        "site":"{{siteName}}",
        "deviceID":"{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}",
        "dataHall":"{{dataHallName}}"
      },
      "textRenderer":{
        "type":"BINARY",
        "oneColour":"#009245",
        "oneLabel":"True",
        "zeroColour":"#9c9c9c",
        "zeroLabel":"False"
      },
      "tolerance":0.0
    },
    {
      "xid":"DP_{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}_BREAKER_READY_TO_CLOSE",
      "name":"Breaker Ready to Close",
      "enabled":false,
      "loggingType":"ON_CHANGE_INTERVAL",
      "intervalLoggingPeriodType":"MINUTES",
      "intervalLoggingType":"INSTANT",
      "purgeType":"YEARS",
      "pointLocator":{
        "range":"HOLDING_REGISTER",
        "modbusDataType":"BINARY",
        "writeType":"NOT_SETTABLE",
        "additive":0.0,
        "bit":8,
        "charset":"ASCII",
        "multiplier":1.0,
        "multistateNumeric":false,
        "offset":12000,
        "registerCount":0,
        "slaveId":{{slaveId}},
        "slaveMonitor":false
      },
      "eventDetectors":[
      ],
      "plotType":"STEP",
      "rollup":"NONE",
      "unit":"",
      "simplifyType":"NONE",
      "chartColour":"",
      "data":null,
      "dataSourceXid":"DS_{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}",
      "defaultCacheSize":1,
      "deviceName":"{{deviceName}}",
      "discardExtremeValues":false,
      "discardHighLimit":1.7976931348623157E308,
      "discardLowLimit":-1.7976931348623157E308,
      "editPermission":[
        [
          "ROLE_ADMIN"
        ]
      ],
      "intervalLoggingPeriod":15,
      "intervalLoggingSampleWindowSize":0,
      "overrideIntervalLoggingSamples":false,
      "preventSetExtremeValues":false,
      "purgeOverride":false,
      "purgePeriod":1,
      "readPermission":[
        [
          "ROLE_SITE_{{siteName}}"
        ],
        [
          "ROLE_MANAGER"
        ],
        [
          "ROLE_ADMIN"
        ],
        [
          "ROLE_DATAH_{{siteName}}_{{dataHallName}}"
        ]
      ],
      "setExtremeHighLimit":1.7976931348623157E308,
      "setExtremeLowLimit":-1.7976931348623157E308,
      "setPermission":[
        [
          "ROLE_ADMIN"
        ]
      ],
      "tags":{
        "deviceType":"BRK-SE-MASTERPACK",
        "site":"{{siteName}}",
        "deviceID":"{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}",
        "dataHall":"{{dataHallName}}"
      },
      "textRenderer":{
        "type":"BINARY",
        "oneColour":"#009245",
        "oneLabel":"True",
        "zeroColour":"#9c9c9c",
        "zeroLabel":"False"
      },
      "tolerance":0.0
    },
    {
      "xid":"DP_{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}_CIRCUIT_BREAKER_STATUS",
      "name":"Circuit Breaker Status",
      "enabled":false,
      "loggingType":"ON_CHANGE_INTERVAL",
      "intervalLoggingPeriodType":"MINUTES",
      "intervalLoggingType":"INSTANT",
      "purgeType":"YEARS",
      "pointLocator":{
        "range":"HOLDING_REGISTER",
        "modbusDataType":"BINARY",
        "writeType":"NOT_SETTABLE",
        "additive":0.0,
        "bit":0,
        "charset":"ASCII",
        "multiplier":1.0,
        "multistateNumeric":false,
        "offset":12000,
        "registerCount":0,
        "slaveId":{{slaveId}},
        "slaveMonitor":false
      },
      "eventDetectors":[
      ],
      "plotType":"STEP",
      "rollup":"NONE",
      "unit":"",
      "simplifyType":"NONE",
      "chartColour":"",
      "data":null,
      "dataSourceXid":"DS_{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}",
      "defaultCacheSize":1,
      "deviceName":"{{deviceName}}",
      "discardExtremeValues":false,
      "discardHighLimit":1.7976931348623157E308,
      "discardLowLimit":-1.7976931348623157E308,
      "editPermission":[
        [
          "ROLE_ADMIN"
        ]
      ],
      "intervalLoggingPeriod":15,
      "intervalLoggingSampleWindowSize":0,
      "overrideIntervalLoggingSamples":false,
      "preventSetExtremeValues":false,
      "purgeOverride":false,
      "purgePeriod":1,
      "readPermission":[
        [
          "ROLE_SITE_{{siteName}}"
        ],
        [
          "ROLE_MANAGER"
        ],
        [
          "ROLE_ADMIN"
        ],
        [
          "ROLE_DATAH_{{siteName}}_{{dataHallName}}"
        ]
      ],
      "setExtremeHighLimit":1.7976931348623157E308,
      "setExtremeLowLimit":-1.7976931348623157E308,
      "setPermission":[
        [
          "ROLE_ADMIN"
        ]
      ],
      "tags":{
        "deviceType":"BRK-SE-MASTERPACK",
        "site":"{{siteName}}",
        "deviceID":"{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}",
        "dataHall":"{{dataHallName}}"
      },
      "textRenderer":{
        "type":"BINARY",
        "oneColour":"#009245",
        "oneLabel":"Closed",
        "zeroColour":"#e41717",
        "zeroLabel":"Open"
      },
      "tolerance":0.0
    },
    {
      "xid":"DP_{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}_BREAKER_TRIPPED",
      "name":"Breaker Tripped",
      "enabled":false,
      "loggingType":"ON_CHANGE_INTERVAL",
      "intervalLoggingPeriodType":"MINUTES",
      "intervalLoggingType":"INSTANT",
      "purgeType":"YEARS",
      "pointLocator":{
        "range":"HOLDING_REGISTER",
        "modbusDataType":"BINARY",
        "writeType":"NOT_SETTABLE",
        "additive":0.0,
        "bit":2,
        "charset":"ASCII",
        "multiplier":1.0,
        "multistateNumeric":false,
        "offset":12000,
        "registerCount":0,
        "slaveId":{{slaveId}},
        "slaveMonitor":false
      },
      "eventDetectors":[
      ],
      "plotType":"STEP",
      "rollup":"NONE",
      "unit":"",
      "simplifyType":"NONE",
      "chartColour":"",
      "data":null,
      "dataSourceXid":"DS_{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}",
      "defaultCacheSize":1,
      "deviceName":"{{deviceName}}",
      "discardExtremeValues":false,
      "discardHighLimit":1.7976931348623157E308,
      "discardLowLimit":-1.7976931348623157E308,
      "editPermission":[
        [
          "ROLE_ADMIN"
        ]
      ],
      "intervalLoggingPeriod":15,
      "intervalLoggingSampleWindowSize":0,
      "overrideIntervalLoggingSamples":false,
      "preventSetExtremeValues":false,
      "purgeOverride":false,
      "purgePeriod":1,
      "readPermission":[
        [
          "ROLE_SITE_{{siteName}}"
        ],
        [
          "ROLE_MANAGER"
        ],
        [
          "ROLE_ADMIN"
        ],
        [
          "ROLE_DATAH_{{siteName}}_{{dataHallName}}"
        ]
      ],
      "setExtremeHighLimit":1.7976931348623157E308,
      "setExtremeLowLimit":-1.7976931348623157E308,
      "setPermission":[
        [
          "ROLE_ADMIN"
        ]
      ],
      "tags":{
        "deviceType":"BRK-SE-MASTERPACK",
        "site":"{{siteName}}",
        "deviceID":"{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}",
        "dataHall":"{{dataHallName}}"
      },
      "textRenderer":{
        "type":"BINARY",
        "oneColour":"#e41717",
        "oneLabel":"True",
        "zeroColour":"#9c9c9c",
        "zeroLabel":"False"
      },
      "tolerance":0.0
    },
    {
      "xid":"DP_{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}_TEST_POSITION",
      "name":"Test Position",
      "enabled":false,
      "loggingType":"ON_CHANGE_INTERVAL",
      "intervalLoggingPeriodType":"MINUTES",
      "intervalLoggingType":"INSTANT",
      "purgeType":"YEARS",
      "pointLocator":{
        "range":"HOLDING_REGISTER",
        "modbusDataType":"BINARY",
        "writeType":"NOT_SETTABLE",
        "additive":0.0,
        "bit":10,
        "charset":"ASCII",
        "multiplier":1.0,
        "multistateNumeric":false,
        "offset":15300,
        "registerCount":0,
        "slaveId":{{slaveId}},
        "slaveMonitor":false
      },
      "eventDetectors":[
      ],
      "plotType":"STEP",
      "rollup":"NONE",
      "unit":"",
      "simplifyType":"NONE",
      "chartColour":"",
      "data":null,
      "dataSourceXid":"DS_{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}",
      "defaultCacheSize":1,
      "deviceName":"{{deviceName}}",
      "discardExtremeValues":false,
      "discardHighLimit":1.7976931348623157E308,
      "discardLowLimit":-1.7976931348623157E308,
      "editPermission":[
        [
          "ROLE_ADMIN"
        ]
      ],
      "intervalLoggingPeriod":15,
      "intervalLoggingSampleWindowSize":0,
      "overrideIntervalLoggingSamples":false,
      "preventSetExtremeValues":false,
      "purgeOverride":false,
      "purgePeriod":1,
      "readPermission":[
        [
          "ROLE_SITE_{{siteName}}"
        ],
        [
          "ROLE_MANAGER"
        ],
        [
          "ROLE_ADMIN"
        ],
        [
          "ROLE_DATAH_{{siteName}}_{{dataHallName}}"
        ]
      ],
      "setExtremeHighLimit":1.7976931348623157E308,
      "setExtremeLowLimit":-1.7976931348623157E308,
      "setPermission":[
        [
          "ROLE_ADMIN"
        ]
      ],
      "tags":{
        "deviceType":"BRK-SE-MASTERPACK",
        "site":"{{siteName}}",
        "deviceID":"{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}",
        "dataHall":"{{dataHallName}}"
      },
      "textRenderer":{
        "type":"BINARY",
        "oneColour":"#e41717",
        "oneLabel":"True",
        "zeroColour":"#9c9c9c",
        "zeroLabel":"False"
      },
      "tolerance":0.0
    },
    {
      "xid":"DP_{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}_CURRENT_A",
      "name":"Current A",
      "enabled":false,
      "loggingType":"ON_CHANGE_INTERVAL",
      "intervalLoggingPeriodType":"MINUTES",
      "intervalLoggingType":"INSTANT",
      "purgeType":"YEARS",
      "pointLocator":{
        "range":"HOLDING_REGISTER",
        "modbusDataType":"TWO_BYTE_INT_UNSIGNED",
        "writeType":"NOT_SETTABLE",
        "additive":0.0,
        "bit":0,
        "charset":"ASCII",
        "multiplier":1.0,
        "multistateNumeric":false,
        "offset":1015,
        "registerCount":0,
        "slaveId":{{slaveId}},
        "slaveMonitor":false
      },
      "eventDetectors":[
      ],
      "plotType":"SPLINE",
      "rollup":"NONE",
      "unit":"A",
      "simplifyType":"NONE",
      "chartColour":"",
      "data":null,
      "dataSourceXid":"DS_{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}",
      "defaultCacheSize":1,
      "deviceName":"{{deviceName}}",
      "discardExtremeValues":false,
      "discardHighLimit":1.7976931348623157E308,
      "discardLowLimit":-1.7976931348623157E308,
      "editPermission":[
        [
          "ROLE_ADMIN"
        ]
      ],
      "intervalLoggingPeriod":15,
      "intervalLoggingSampleWindowSize":0,
      "overrideIntervalLoggingSamples":false,
      "preventSetExtremeValues":false,
      "purgeOverride":false,
      "purgePeriod":1,
      "readPermission":[
        [
          "ROLE_SITE_{{siteName}}"
        ],
        [
          "ROLE_MANAGER"
        ],
        [
          "ROLE_ADMIN"
        ],
        [
          "ROLE_DATAH_{{siteName}}_{{dataHallName}}"
        ]
      ],
      "setExtremeHighLimit":1.7976931348623157E308,
      "setExtremeLowLimit":-1.7976931348623157E308,
      "setPermission":[
        [
          "ROLE_ADMIN"
        ]
      ],
      "tags":{
        "deviceType":"BRK-SE-MASTERPACK",
        "site":"{{siteName}}",
        "trend":"TRUE",
        "deviceID":"{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}",
        "dataHall":"{{dataHallName}}"
      },
      "textRenderer":{
        "type":"ANALOG",
        "useUnitAsSuffix":true,
        "format":"0.00"
      },
      "tolerance":0.0
    },
    {
      "xid":"DP_{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}_CURRENT_B",
      "name":"Current B",
      "enabled":false,
      "loggingType":"ON_CHANGE_INTERVAL",
      "intervalLoggingPeriodType":"MINUTES",
      "intervalLoggingType":"INSTANT",
      "purgeType":"YEARS",
      "pointLocator":{
        "range":"HOLDING_REGISTER",
        "modbusDataType":"TWO_BYTE_INT_UNSIGNED",
        "writeType":"NOT_SETTABLE",
        "additive":0.0,
        "bit":0,
        "charset":"ASCII",
        "multiplier":1.0,
        "multistateNumeric":false,
        "offset":1016,
        "registerCount":0,
        "slaveId":{{slaveId}},
        "slaveMonitor":false
      },
      "eventDetectors":[
      ],
      "plotType":"SPLINE",
      "rollup":"NONE",
      "unit":"A",
      "simplifyType":"NONE",
      "chartColour":"",
      "data":null,
      "dataSourceXid":"DS_{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}",
      "defaultCacheSize":1,
      "deviceName":"{{deviceName}}",
      "discardExtremeValues":false,
      "discardHighLimit":1.7976931348623157E308,
      "discardLowLimit":-1.7976931348623157E308,
      "editPermission":[
        [
          "ROLE_ADMIN"
        ]
      ],
      "intervalLoggingPeriod":15,
      "intervalLoggingSampleWindowSize":0,
      "overrideIntervalLoggingSamples":false,
      "preventSetExtremeValues":false,
      "purgeOverride":false,
      "purgePeriod":1,
      "readPermission":[
        [
          "ROLE_SITE_{{siteName}}"
        ],
        [
          "ROLE_MANAGER"
        ],
        [
          "ROLE_ADMIN"
        ],
        [
          "ROLE_DATAH_{{siteName}}_{{dataHallName}}"
        ]
      ],
      "setExtremeHighLimit":1.7976931348623157E308,
      "setExtremeLowLimit":-1.7976931348623157E308,
      "setPermission":[
        [
          "ROLE_ADMIN"
        ]
      ],
      "tags":{
        "deviceType":"BRK-SE-MASTERPACK",
        "site":"{{siteName}}",
        "trend":"TRUE",
        "deviceID":"{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}",
        "dataHall":"{{dataHallName}}"
      },
      "textRenderer":{
        "type":"ANALOG",
        "useUnitAsSuffix":true,
        "format":"0.00"
      },
      "tolerance":0.0
    },
    {
      "xid":"DP_{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}_CURRENT_C",
      "name":"Current C",
      "enabled":false,
      "loggingType":"ON_CHANGE_INTERVAL",
      "intervalLoggingPeriodType":"MINUTES",
      "intervalLoggingType":"INSTANT",
      "purgeType":"YEARS",
      "pointLocator":{
        "range":"HOLDING_REGISTER",
        "modbusDataType":"TWO_BYTE_INT_UNSIGNED",
        "writeType":"NOT_SETTABLE",
        "additive":0.0,
        "bit":0,
        "charset":"ASCII",
        "multiplier":1.0,
        "multistateNumeric":false,
        "offset":1017,
        "registerCount":0,
        "slaveId":{{slaveId}},
        "slaveMonitor":false
      },
      "eventDetectors":[
      ],
      "plotType":"SPLINE",
      "rollup":"NONE",
      "unit":"A",
      "simplifyType":"NONE",
      "chartColour":"",
      "data":null,
      "dataSourceXid":"DS_{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}",
      "defaultCacheSize":1,
      "deviceName":"{{deviceName}}",
      "discardExtremeValues":false,
      "discardHighLimit":1.7976931348623157E308,
      "discardLowLimit":-1.7976931348623157E308,
      "editPermission":[
        [
          "ROLE_ADMIN"
        ]
      ],
      "intervalLoggingPeriod":15,
      "intervalLoggingSampleWindowSize":0,
      "overrideIntervalLoggingSamples":false,
      "preventSetExtremeValues":false,
      "purgeOverride":false,
      "purgePeriod":1,
      "readPermission":[
        [
          "ROLE_SITE_{{siteName}}"
        ],
        [
          "ROLE_MANAGER"
        ],
        [
          "ROLE_ADMIN"
        ],
        [
          "ROLE_DATAH_{{siteName}}_{{dataHallName}}"
        ]
      ],
      "setExtremeHighLimit":1.7976931348623157E308,
      "setExtremeLowLimit":-1.7976931348623157E308,
      "setPermission":[
        [
          "ROLE_ADMIN"
        ]
      ],
      "tags":{
        "deviceType":"BRK-SE-MASTERPACK",
        "site":"{{siteName}}",
        "trend":"TRUE",
        "deviceID":"{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}",
        "dataHall":"{{dataHallName}}"
      },
      "textRenderer":{
        "type":"ANALOG",
        "useUnitAsSuffix":true,
        "format":"0.00"
      },
      "tolerance":0.0
    },
	{
      "xid":"DP_{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}_ALARM_BREAKER_TRIPPED_CRITICAL",
      "name":"Breaker Tripped Alarm",
      "enabled":false,
      "loggingType":"ON_CHANGE_INTERVAL",
      "intervalLoggingPeriodType":"MINUTES",
      "intervalLoggingType":"INSTANT",
      "purgeType":"YEARS",
      "pointLocator":{
        "dataType":"MULTISTATE",
        "updateEvent":"NONE",
        "contextUpdateEvent":"CONTEXT_UPDATE",
        "context":[
          {
            "varName":"status",
            "dataPointXid":"DP_{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}_BREAKER_TRIPPED",
            "updateContext":true
          }
        ],
        "logLevel":"NONE",
        "variableName":"my",
        "executionDelaySeconds":0,
        "logCount":5,
        "logSize":1.0,
        "script":"out = 0\nif(status.value){out = 5}\nreturn out;",
        "scriptRoles":[
        ],
        "settable":false,
        "updateCronPattern":""
      },
      "eventDetectors":[
        {
          "type":"MULTISTATE_STATE",
          "sourceType":"DATA_POINT",
          "xid":"ED_{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}_BREAKER_TRIPPED_CRITICAL_ALARM",
          "name":"{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}} Breaker Tripped",
          "alarmLevel":"CRITICAL",
          "dataPointXid":"DP_{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}_ALARM_BREAKER_TRIPPED_CRITICAL",
          "durationType":"SECONDS",
          "duration":30,
          "inverted":false,
          "state":5,
          "states":null,
          "data":null,
          "editPermission":[
            [
              "ROLE_ADMIN"
            ]
          ],
          "readPermission":[
          ]
        }
      ],
      "plotType":"STEP",
      "rollup":"NONE",
      "unit":"",
      "simplifyType":"NONE",
      "chartColour":"",
      "data":null,
      "dataSourceXid":"DS_{{siteName}}_{{dataHallName}}_ALARMS",
      "defaultCacheSize":1,
      "deviceName":"{{siteName}}_{{dataHallName}}_ALARMS",
      "discardExtremeValues":false,
      "discardHighLimit":1.7976931348623157E308,
      "discardLowLimit":-1.7976931348623157E308,
      "editPermission":[
        [
          "ROLE_ADMIN"
        ]
      ],
      "intervalLoggingPeriod":15,
      "intervalLoggingSampleWindowSize":0,
      "overrideIntervalLoggingSamples":false,
      "preventSetExtremeValues":false,
      "purgeOverride":false,
      "purgePeriod":1,
      "readPermission":[
      ],
      "setExtremeHighLimit":1.7976931348623157E308,
      "setExtremeLowLimit":-1.7976931348623157E308,
      "setPermission":[
        [
          "ROLE_ADMIN"
        ]
      ],
      "tags":{
        "deviceType":"BRK-SE-MASTERPACK",
        "site":"{{siteName}}",
        "alarm":"TRUE",
        "deviceID":"{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}",
        "dataHall":"{{dataHallName}}"
      },
      "textRenderer":{
        "type":"MULTISTATE",
        "multistateValues":[
          {
            "colour":"#009245",
            "key":0,
            "text":"No Alarm"
          },
          {
            "colour":"#5B0C5B",
            "key":1,
            "text":"Information Alarm"
          },
          {
            "colour":"#5068a7",
            "key":2,
            "text":"Minor Alarm"
          },
          {
            "colour":"#e3cd0c",
            "key":3,
            "text":"Warning Alarm"
          },
          {
            "colour":"#fe8f17",
            "key":4,
            "text":"Major Alarm"
          },
          {
            "colour":"#e41717",
            "key":5,
            "text":"Critical Alarm"
          }
        ]
      },
      "tolerance":0.0
    },
    {
      "xid":"DP_{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}_ALARM_BREAKER_OPEN_CRITICAL",
      "name":"Breaker Open Alarm",
      "enabled":false,
      "loggingType":"ON_CHANGE_INTERVAL",
      "intervalLoggingPeriodType":"MINUTES",
      "intervalLoggingType":"INSTANT",
      "purgeType":"YEARS",
      "pointLocator":{
        "dataType":"MULTISTATE",
        "updateEvent":"NONE",
        "contextUpdateEvent":"CONTEXT_UPDATE",
        "context":[
          {
            "varName":"status",
            "dataPointXid":"DP_{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}_CIRCUIT_BREAKER_STATUS",
            "updateContext":true
          }
        ],
        "logLevel":"NONE",
        "variableName":"my",
        "executionDelaySeconds":0,
        "logCount":5,
        "logSize":1.0,
        "script":"out = 0\nif(!status.value){out = 5}\nreturn out;",
        "scriptRoles":[
        ],
        "settable":false,
        "updateCronPattern":""
      },
      "eventDetectors":[
        {
          "type":"MULTISTATE_STATE",
          "sourceType":"DATA_POINT",
          "xid":"ED_{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}_BREAKER_OPEN_CRITICAL_ALARM",
          "name":"{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}} Breaker Open Critical Alarm",
          "alarmLevel":"CRITICAL",
          "dataPointXid":"DP_{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}_ALARM_BREAKER_OPEN_CRITICAL",
          "durationType":"SECONDS",
          "duration":30,
          "inverted":false,
          "state":5,
          "states":null,
          "data":null,
          "editPermission":[
            [
              "ROLE_ADMIN"
            ]
          ],
          "readPermission":[
          ]
        }
      ],
      "plotType":"STEP",
      "rollup":"NONE",
      "unit":"",
      "simplifyType":"NONE",
      "chartColour":"",
      "data":null,
      "dataSourceXid":"DS_{{siteName}}_{{dataHallName}}_ALARMS",
      "defaultCacheSize":1,
      "deviceName":"{{siteName}}_{{dataHallName}}_ALARMS",
      "discardExtremeValues":false,
      "discardHighLimit":1.7976931348623157E308,
      "discardLowLimit":-1.7976931348623157E308,
      "editPermission":[
        [
          "ROLE_ADMIN"
        ]
      ],
      "intervalLoggingPeriod":15,
      "intervalLoggingSampleWindowSize":0,
      "overrideIntervalLoggingSamples":false,
      "preventSetExtremeValues":false,
      "purgeOverride":false,
      "purgePeriod":1,
      "readPermission":[
      ],
      "setExtremeHighLimit":1.7976931348623157E308,
      "setExtremeLowLimit":-1.7976931348623157E308,
      "setPermission":[
        [
          "ROLE_ADMIN"
        ]
      ],
      "tags":{
        "deviceType":"BRK-SE-MASTERPACK",
        "site":"{{siteName}}",
        "alarm":"TRUE",
        "deviceID":"{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}",
        "dataHall":"{{dataHallName}}"
      },
      "textRenderer":{
        "type":"MULTISTATE",
        "multistateValues":[
          {
            "colour":"#009245",
            "key":0,
            "text":"No Alarm"
          },
          {
            "colour":"#5B0C5B",
            "key":1,
            "text":"Information Alarm"
          },
          {
            "colour":"#5068a7",
            "key":2,
            "text":"Minor Alarm"
          },
          {
            "colour":"#e3cd0c",
            "key":3,
            "text":"Warning Alarm"
          },
          {
            "colour":"#fe8f17",
            "key":4,
            "text":"Major Alarm"
          },
          {
            "colour":"#e41717",
            "key":5,
            "text":"Critical Alarm"
          }
        ]
      },
      "tolerance":0.0
    },
	{
      "xid":"DP_{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}_ALARM_BREAKER_TRIPPED_CRITICAL",
      "name":"Breaker Tripped Alarm",
      "enabled":true,
      "loggingType":"ON_CHANGE_INTERVAL",
      "intervalLoggingPeriodType":"MINUTES",
      "intervalLoggingType":"INSTANT",
      "purgeType":"YEARS",
      "pointLocator":{
        "dataType":"MULTISTATE",
        "updateEvent":"NONE",
        "contextUpdateEvent":"CONTEXT_UPDATE",
        "context":[
          {
            "varName":"status",
            "dataPointXid":"DP_{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}_BREAKER_TRIPPED",
            "updateContext":true
          }
        ],
        "logLevel":"NONE",
        "variableName":"my",
        "executionDelaySeconds":0,
        "logCount":5,
        "logSize":1.0,
        "script":"out = 0\nif(status.value){out = 5}\nreturn out;",
        "scriptRoles":[
        ],
        "settable":false,
        "updateCronPattern":""
      },
      "eventDetectors":[
        {
          "type":"MULTISTATE_STATE",
          "sourceType":"DATA_POINT",
          "xid":"ED_{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}_BREAKER_TRIPPED_CRITICAL_ALARM",
          "name":"{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}} Breaker Tripped",
          "alarmLevel":"CRITICAL",
          "dataPointXid":"DP_{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}_ALARM_BREAKER_TRIPPED_CRITICAL",
          "durationType":"SECONDS",
          "duration":30,
          "inverted":false,
          "state":5,
          "states":null,
          "data":null,
          "editPermission":[
            [
              "ROLE_ADMIN"
            ]
          ],
          "readPermission":[
			[
			  "ROLE_SITE_{{siteName}}"
			],
			[
			  "ROLE_MANAGER"
			],
			[
			  "ROLE_ADMIN"
			],
			[
			  "ROLE_DATAH_{{siteName}}_{{dataHallName}}"
			]
		  ]
        }
      ],
      "plotType":"STEP",
      "rollup":"NONE",
      "unit":"",
      "simplifyType":"NONE",
      "chartColour":"",
      "data":null,
      "dataSourceXid":"DS_{{siteName}}_{{dataHallName}}_ALARMS",
      "defaultCacheSize":1,
      "deviceName":"{{siteName}}_{{dataHallName}}_ALARMS",
      "discardExtremeValues":false,
      "discardHighLimit":1.7976931348623157E308,
      "discardLowLimit":-1.7976931348623157E308,
      "editPermission":[
        [
          "ROLE_ADMIN"
        ]
      ],
      "intervalLoggingPeriod":15,
      "intervalLoggingSampleWindowSize":0,
      "overrideIntervalLoggingSamples":false,
      "preventSetExtremeValues":false,
      "purgeOverride":false,
      "purgePeriod":1,
      "readPermission":[
        [
          "ROLE_SITE_{{siteName}}"
        ],
        [
          "ROLE_MANAGER"
        ],
        [
          "ROLE_ADMIN"
        ],
        [
          "ROLE_DATAH_{{siteName}}_{{dataHallName}}"
        ]
      ],
      "setExtremeHighLimit":1.7976931348623157E308,
      "setExtremeLowLimit":-1.7976931348623157E308,
      "setPermission":[
        [
          "ROLE_ADMIN"
        ]
      ],
      "tags":{
        "deviceType":"BRK-SE-MASTERPACK",
        "site":"{{siteName}}",
        "alarm":"TRUE",
        "deviceID":"{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}",
        "dataHall":"{{dataHallName}}"
      },
      "textRenderer":{
        "type":"MULTISTATE",
        "multistateValues":[
          {
            "colour":"#009245",
            "key":0,
            "text":"No Alarm"
          },
          {
            "colour":"#5B0C5B",
            "key":1,
            "text":"Information Alarm"
          },
          {
            "colour":"#5068a7",
            "key":2,
            "text":"Minor Alarm"
          },
          {
            "colour":"#e3cd0c",
            "key":3,
            "text":"Warning Alarm"
          },
          {
            "colour":"#fe8f17",
            "key":4,
            "text":"Major Alarm"
          },
          {
            "colour":"#e41717",
            "key":5,
            "text":"Critical Alarm"
          }
        ]
      },
      "tolerance":0.0
    },
    {
      "xid":"DP_{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}_ALARM_BREAKER_OPEN_CRITICAL",
      "name":"Breaker Open Alarm",
      "enabled":true,
      "loggingType":"ON_CHANGE_INTERVAL",
      "intervalLoggingPeriodType":"MINUTES",
      "intervalLoggingType":"INSTANT",
      "purgeType":"YEARS",
      "pointLocator":{
        "dataType":"MULTISTATE",
        "updateEvent":"NONE",
        "contextUpdateEvent":"CONTEXT_UPDATE",
        "context":[
          {
            "varName":"status",
            "dataPointXid":"DP_{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}_CIRCUIT_BREAKER_STATUS",
            "updateContext":true
          }
        ],
        "logLevel":"NONE",
        "variableName":"my",
        "executionDelaySeconds":0,
        "logCount":5,
        "logSize":1.0,
        "script":"out = 0\nif(!status.value){out = 5}\nreturn out;",
        "scriptRoles":[
        ],
        "settable":false,
        "updateCronPattern":""
      },
      "eventDetectors":[
        {
          "type":"MULTISTATE_STATE",
          "sourceType":"DATA_POINT",
          "xid":"ED_{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}_BREAKER_OPEN_CRITICAL_ALARM",
          "name":"{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}} Breaker Open Critical Alarm",
          "alarmLevel":"CRITICAL",
          "dataPointXid":"DP_{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}_ALARM_BREAKER_OPEN_CRITICAL",
          "durationType":"SECONDS",
          "duration":30,
          "inverted":false,
          "state":5,
          "states":null,
          "data":null,
          "editPermission":[
            [
              "ROLE_ADMIN"
            ]
          ],
          "readPermission":[
			[
			  "ROLE_SITE_{{siteName}}"
			],
			[
			  "ROLE_MANAGER"
			],
			[
			  "ROLE_ADMIN"
			],
			[
			  "ROLE_DATAH_{{siteName}}_{{dataHallName}}"
			]
		  ]
        }
      ],
      "plotType":"STEP",
      "rollup":"NONE",
      "unit":"",
      "simplifyType":"NONE",
      "chartColour":"",
      "data":null,
      "dataSourceXid":"DS_{{siteName}}_{{dataHallName}}_ALARMS",
      "defaultCacheSize":1,
      "deviceName":"{{siteName}}_{{dataHallName}}_ALARMS",
      "discardExtremeValues":false,
      "discardHighLimit":1.7976931348623157E308,
      "discardLowLimit":-1.7976931348623157E308,
      "editPermission":[
        [
          "ROLE_ADMIN"
        ]
      ],
      "intervalLoggingPeriod":15,
      "intervalLoggingSampleWindowSize":0,
      "overrideIntervalLoggingSamples":false,
      "preventSetExtremeValues":false,
      "purgeOverride":false,
      "purgePeriod":1,
      "readPermission":[
        [
          "ROLE_SITE_{{siteName}}"
        ],
        [
          "ROLE_MANAGER"
        ],
        [
          "ROLE_ADMIN"
        ],
        [
          "ROLE_DATAH_{{siteName}}_{{dataHallName}}"
        ]
      ],
      "setExtremeHighLimit":1.7976931348623157E308,
      "setExtremeLowLimit":-1.7976931348623157E308,
      "setPermission":[
        [
          "ROLE_ADMIN"
        ]
      ],
      "tags":{
        "deviceType":"BRK-SE-MASTERPACK",
        "site":"{{siteName}}",
        "alarm":"TRUE",
        "deviceID":"{{siteName}}_{{dataHallName}}_{{powerCenterName}}_{{deviceName}}",
        "dataHall":"{{dataHallName}}"
      },
      "textRenderer":{
        "type":"MULTISTATE",
        "multistateValues":[
          {
            "colour":"#009245",
            "key":0,
            "text":"No Alarm"
          },
          {
            "colour":"#5B0C5B",
            "key":1,
            "text":"Information Alarm"
          },
          {
            "colour":"#5068a7",
            "key":2,
            "text":"Minor Alarm"
          },
          {
            "colour":"#e3cd0c",
            "key":3,
            "text":"Warning Alarm"
          },
          {
            "colour":"#fe8f17",
            "key":4,
            "text":"Major Alarm"
          },
          {
            "colour":"#e41717",
            "key":5,
            "text":"Critical Alarm"
          }
        ]
      },
      "tolerance":0.0
    }
{{/devices}}{{/powerCenters}}{{/dataHalls}}{{/sites}}
]