    "eventDetectors":[],
    "plotType":"STEP",
    "rollup":"NONE",
    "unit":"",
    "simplifyType":"NONE",
    "chartColour":"",
    "data":null,
    "enabled":true,
    "loggingType":"ALL",
    "intervalLoggingPeriodType":"MINUTES",
    "intervalLoggingType":"INSTANT",
    "purgeType":"YEARS",
    "defaultCacheSize":1,
    "discardExtremeValues":false,
    "discardHighLimit":1.7976931348623157E308,
    "discardLowLimit":-1.7976931348623157E308,
    "intervalLoggingPeriod":15,
    "intervalLoggingSampleWindowSize":0,
    "overrideIntervalLoggingSamples":false,
    "preventSetExtremeValues":false,
    "purgeOverride":false,
    "purgePeriod":1,
    "setExtremeHighLimit":1.7976931348623157E308,
    "setExtremeLowLimit":-1.7976931348623157E308,
    "editPermission":[],
    "readPermission":[],
    "setPermission":[],
    "textRenderer":{
      "type":"PLAIN",
      "useUnitAsSuffix":true,
      "suffix":""
    },
    "tolerance":0.0